<div data-w-id="fa061627-9dce-4b4e-81a5-da78034dd637" class="wrapper">
    <div data-w-id="041d203b-0238-908f-5fc4-7b8c5f6cd7d3" class="flex">
      <div class="col">
        <div data-w-id="139cb0db-3119-2d76-8c0c-16c7b5e9997a" class="col-inner">
          <div class="col-title">POST</div>
          <div class="image-holder img-1"></div>
        </div>
      </div>
      <div class="col">
        <div data-w-id="3b88071a-6af8-8991-bc8b-bbea46fc4f44" class="col-inner">
          <div class="col-title">github</div>
          <div class="image-holder img-2"></div>
        </div>
      </div>
      <div class="col">
        <div data-w-id="40d38d07-5821-85b4-8b21-76d674f62799" class="col-inner">
          <div class="col-title">About</div>
          <div class="image-holder img-3"></div>
        </div>
      </div>
    </div>
  </div>